Port 22
Protocol 2
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key

KeyRegenerationInterval 1h
ServerKeyBits 768

PermitRootLogin no
StrictModes yes

RSAAuthentication yes
PubkeyAuthentication yes

HostbasedAuthentication no

PasswordAuthentication yes
PermitEmptyPasswords no

AllowUsers Alpha Beta
DenyGroups Alunos

Banner /tmp/ssh_baner
